@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Fddddddotf</h1>
=======
    <h1 class="display-4">Reicho</h1>
>>>>>>> 9f14e1eacf78024b8250819ea01890795a8b3960
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

